<h1>Update Profile </h1>
<%= form_with( model: [@user.profile], local: true, url: profile_path(:uid =>@user.id))  do |f| %>
<%= render "shared/error" %>
<%= render "shared/msg" %>
  <div class="field">
    <%= f.label :first_name %><br/>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br/>
    <%= f.text_field :last_name %>
  </div>
    
  <div class="field">
    <%= f.label :phone_number %><br/>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :address %><br/>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %><br/>
    <%= f.text_field :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :remove_skills %><br/>
    <%= f.collection_check_boxes(:skill_ids, @user.profile.skills, :id, :name) do |i| %>
      <%= i.label %>
      <%= i.label { i.check_box } %>
    <% end %>
  </div>

  <div class="field">
    <%= f.submit %>     
  </div>
  
<% end %>