<h1>Update Profile Picture</h1>
<%= form_with( model: [@user.picture], local: true, url: picture_path(:uid =>@user.id))  do |f| %>
<%= render "shared/error" %>
  <div class="field">
    <h3><%= f.label :image %></h3><br/>
    <%= f.file_field :image %><br/>
  </div>
  <br/>
  <div class="field">
    <%= f.submit "Update Picture" %>     
  </div>
<% end %>